$content-width: 800px;
$main: #254065;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: #e9e3b4;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #125469;
$light: #e7edf4;
$header: #254065;
$footer-font-color: #8ea8c3;

a {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: $link-hover-color;
  text-decoration: none;
}
small {
  font-size: 0.8em;
  line-height: 1em;
}
large {
  font-size: 1.2em;
  color: $main;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img {
    vertical-align:middle;
}
.icons-link {
    line-height:2px;
    text-align: center;
    font-size: 5em;
}
